.venv
__pycache__/
*.pyc
venv/
env/
.env
.mypy_cache/
.pytest_cache/
.vscode/
.idea/
.DS_Store
*.log
dist/
build/
.env-example
fusion/__pycache__/
model/__pycache__/
training/__pycache__/
dataset/
models/finetuned_vit_fahad/
models/finetuned_roberta_fahad/